{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    {{- if .OutputFormats.Get "html" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
    {{ end }}
  </section>

  <aside>
    <img
      src="/ddevault-profile-148_2.jpg"
      alt="A picture of me, a bald man with a short beard, wearing glasses and smiling at the camera in an outdoor setting"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="misc.html">misc</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:drew@ddevault.org">drew@ddevault.org</a></dd>
      <dt>sourcehut</dt>
      <dd><a href="https://sr.ht/~sircmpwn">~sircmpwn</a></dd>
      <dt>pgp</dt>
      <dd><a href="/publickey.txt">9FB5E737DC25…</a> (<a href="https://lists.sr.ht/~sircmpwn/public-inbox/%3CD7X4QACJEBIK.22SRKOW3MXKW1@cmpwn.com%3E">note</a>)</dd>
    </dl>

    <a href="https://liberapay.com/ddevault/donate"><img alt="Donate using Liberapay" src="/donate.svg"></a>
  </aside>
</main>
